HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

src/main/resources/application.properties

src/main/resources/config.json

*.db

src/main/resources/application.fieldlab.properties

src/main/resources/application.local.properties

src/main/resources/application.swf.properties

src/main/resources/config.local.json

src/main/resources/config.swf.json

TODO.txt

bouw.bat
