version: '3.4'
services:
  web:
    build: .
    ports:
     - "8080:8080"
    environment:
      - TZ=Europe/Amsterdam
    depends_on:
      - "db"
    volumes:
      - data-debug:/home/data
  db:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=openzaakbrug
      - POSTGRES_USER=openzaakbrug
      - POSTGRES_DB=openzaakbrug
    volumes:
      - data:/var/lib/postgresql/data
volumes:
  data:
  data-debug:

