<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		"
	>

	<bean
		name="modelMapperAdvice"
		class="nl.haarlem.translations.zdstozgw.debug.ModelMapperAdvice"
		autowire="byName"
	/>

	<aop:config proxy-target-class="true">
		<aop:aspect ref="modelMapperAdvice">
			<aop:around
				pointcut=
					"
					execution(
						*
						org.modelmapper.ModelMapper.*(
							..
						)
					)
					and
					args(source, destination, ..)
					"
				method="debugModelMapperMap"
				arg-names="source, destination"
			/>
		</aop:aspect>
	</aop:config>

</beans>
